Package: com.jontelang.bigshotsnapper3plugin
Name: BigShot Snapper 3 plugin
Depends: mobilesubstrate, firmware(>=14.0), preferenceloader
Conflicts: com.jontelang.snapper
Version: 1.0
Architecture: iphoneos-arm
Description: BigShot for Snapper 3
Maintainer: Jonathan Winger-lang
Author: Jonathan Winger-lang
Section: Tweaks
